table
{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse:collapse;
}
table td,table th
{
    border:2px solid #dedace;
    padding:5px;
}
table th
{
    background-color: #b39c5d;
}
